<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Douban Movie Stat</title>
  
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="doubanStat">
	<div id="mainframe" class="container" ng-controller="main">
		<div>
			<input ng-model="doubanId" placeholder="please input your douban ID"/>
			<button class="btn btn-primary" ng-click="submit()">submit</button>
		</div>
		<div>
			<h3 ng-show="moviesCollectionData">共看过{{moviesCollectionData.length}}部电影</h3>
			<ul>
				<li ng-repeat="item in moviesCollectionData">
					<a ng-href="{{'http://movie.douban.com/subject/'+item.id+'/'}}" title="{{item.title}}" target="_blank">
						<img ng-src="{{item.img}}" alt="{{item.title}}" />
					</a>
				</li>
			</ul>
		</div>
		
	</div>

<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript" src="lib/jquery-1.11.1.js"></script>
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/d3.v3.min.js"></script>
<script type="text/javascript" src="controller.js"></script>
</body>
</html>